*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     

}
body{
    background-color: rgb(236, 236, 236);
}
#main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.items{
    height: 25%;
    width:20%;
    padding: 8px;
    background-color:white;
     margin: 30px;
     border-radius: 20px;
     box-shadow: 2px;

}
img{
    width: 100%;
    border-radius: 20px;
}

#unique{
    background-color:blue ;
    
    height:2% ;
    width: 10%;
    border-radius: 20px;
}
/* #rate{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
 }

.opt{
    background-color:rgb(168, 168, 169) ;
    height:2%;
    width: 8%;
    border-radius: 20px;
}
#listitems{
    display: flex;
    
    

} */
.list-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
